

#s-lg-box-wrapper-33179757 table.s-lc-ea-tb  {
	margin-bottom: 3rem;
	border-top: solid 1px #ccc;
}

#s-lg-box-wrapper-33179757 tr.s-lc-ea-ttit td {
	font-size: 2rem;
	padding-top: 1rem;
}
#s-lg-box-wrapper-33179757 table.s-lc-ea-tb tr td:first-child {
	display:none;
}

#s-lg-box-wrapper-33179757 .s-lc-ea-h3 {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    border: none !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
