/*calendar view*/
#s-lg-box-wrapper-13798308,
#s-lg-box-wrapper-14374352 {
	display:none;
}
@media (min-width: 800px) {
	/*list view view*/
	#s-lg-box-wrapper-26485993,
	#s-lg-box-wrapper-26486154 {
		display:none;
	}
	/*calendar view*/
	#s-lg-box-wrapper-13798308,
	#s-lg-box-wrapper-14374352 {
		display:block;
	}
}

