/*header with border*/
body {font-size: 1.5rem;}
.radio label,
.checkbox label {font-size: 1.5rem;}
.form-group.s-ls-workflow-q.s-ls-400 legend {
	padding-top: 2rem; border-top: solid 1px #95001a;margin-top: 4rem; font-size: 1.7rem;color: #95001a;
}
.s-ls-flab {
	font-size: 1.7rem;
}
.form-group.s-ls-workflow-q.s-ls-900 .s-ls-flab,
.form-group.s-ls-workflow-q.s-ls-901 .s-ls-flab,
.form-group.s-ls-workflow-q.s-ls-902 .s-ls-flab,
.form-group.s-ls-workflow-q.s-ls-903 .s-ls-flab,
.form-group.s-ls-workflow-q.s-ls-921 .s-ls-flab,
.form-group.s-ls-workflow-q.s-ls-922 .s-ls-flab,
.form-group.s-ls-workflow-q.s-ls-923 .s-ls-flab, {
	font-size: 1.5rem;
}
legend.added-legend {
	font-weight: bold;
	font-size: 15px;
	border-bottom: none;
	margin-bottom: .75rem;
}
/*mild label*/
.form-group.s-ls-workflow-q.s-ls-893 label.control-label.s-ls-flab.s-ls-workflow-lab,
.form-group.s-ls-workflow-q.s-ls-905 label.control-label.s-ls-flab.s-ls-workflow-lab  {
	font-weight: normal;
}

.form-group.s-ls-workflow-q.s-ls-882,
.form-group.s-ls-workflow-q.s-ls-890,
.form-group.s-ls-workflow-q.s-ls-894,
.form-group.s-ls-workflow-q.s-ls-895,
.form-group.s-ls-workflow-q.s-ls-896,
.form-group.s-ls-workflow-q.s-ls-897,
.form-group.s-ls-workflow-q.s-ls-898,
.form-group.s-ls-workflow-q.s-ls-900,
.form-group.s-ls-workflow-q.s-ls-901,
.form-group.s-ls-workflow-q.s-ls-902,
.form-group.s-ls-workflow-q.s-ls-903,
.form-group.s-ls-workflow-q.s-ls-904,
.form-group.s-ls-workflow-q.s-ls-921,
.form-group.s-ls-workflow-q.s-ls-922,
.form-group.s-ls-workflow-q.s-ls-923 {
	margin-top: 3rem;
	margin-bottom: 0;
	font-size: 1.7rem;

}
.form-group.s-ls-workflow-q.s-ls-890 legend,
.form-group.s-ls-workflow-q.s-ls-898 legend,
.form-group.s-ls-workflow-q.s-ls-900 legend,
.form-group.s-ls-workflow-q.s-ls-901 legend,
.form-group.s-ls-workflow-q.s-ls-900 legend,
.form-group.s-ls-workflow-q.s-ls-901 legend,
.form-group.s-ls-workflow-q.s-ls-902 legend,
.form-group.s-ls-workflow-q.s-ls-903 legend,
.form-group.s-ls-workflow-q.s-ls-921 legend,
.form-group.s-ls-workflow-q.s-ls-922 legend,
.form-group.s-ls-workflow-q.s-ls-923 legend {
	margin-bottom: 0;
}
/*q900: area studies*/

#q900.checkbox-group div.checkbox,
#q902.checkbox-group div.checkbox,
#q903.checkbox-group div.checkbox,
#q921.checkbox-group div.checkbox,
#q922.checkbox-group div.checkbox,
#q923.checkbox-group div.checkbox {
	width: 180px;
	float: left;
	margin: 0;
	padding: .7rem;
	display: table;
}
/*q900: area studies*/
#q900.checkbox-group div.checkbox:nth-child(7),
#q900.checkbox-group div.checkbox:nth-child(8) {
	width: 200px;
}
#q900.checkbox-group div.checkbox:nth-child(9) {/*russian*/
	width: 280px;
}
#q900.checkbox-group div.checkbox:nth-child(11) {/*seasia*/
	width: 230px;
}
/*q901: business*/
/*q902: engineering*/
#q902.checkbox-group div.checkbox:nth-child(1),
#q902.checkbox-group div.checkbox:nth-child(3),
#q902.checkbox-group div.checkbox:nth-child(4) {
	width: 280px;
}
#q902.checkbox-group div.checkbox:nth-child(2) {
	width: 200px;
}

/*#q921 health sci*/

/*q903: humanities*/
#q903.checkbox-group div.checkbox:nth-child(8) {
	width: 200px;
}
#q903.checkbox-group div.checkbox:nth-child(3),

#q903.checkbox-group div.checkbox:nth-child(6),
#q903.checkbox-group div.checkbox:nth-child(11),
#q903.checkbox-group div.checkbox:nth-child(14),
#q903.checkbox-group div.checkbox:nth-child(15) {
	width: 240px;
}
#q903.checkbox-group div.checkbox:nth-child(12) {
	width: 280px;
}
#q903.checkbox-group div.checkbox:nth-child(4),
#q903.checkbox-group div.checkbox:nth-child(9),
#q903.checkbox-group div.checkbox:nth-child(18),
#q903.checkbox-group div.checkbox:nth-child(13) {
	width: 130px;
}
#q903.checkbox-group div.checkbox:nth-child(21) {/*span-port*/
	width: 320px;
}

/*922 soc sci*/
#q922.checkbox-group div.checkbox:nth-child(2),/*anth*/ 
#q922.checkbox-group div.checkbox:nth-child(19)/*us gov*/{
	width: 250px;
}
#q922.checkbox-group div.checkbox:nth-child(10),/*gender*/
#q922.checkbox-group div.checkbox:nth-child(12),/*law*/
#q922.checkbox-group div.checkbox:nth-child(15)/*pop*/ {
	width: 300px;
}
#q922.checkbox-group div.checkbox:nth-child(20)/*pup pol*/ {
	width: 325px;
}

#q922.checkbox-group div.checkbox:nth-child(9)/*foreign*/ {
	width: 600px;
}
#q922.checkbox-group div.checkbox:nth-child(7),/*ec*/
#q922.checkbox-group div.checkbox:nth-child(8),/*ed*/
#q922.checkbox-group div.checkbox:nth-child(16),/*psy*/
#q922.checkbox-group div.checkbox:nth-child(17),/*sw*/
#q922.checkbox-group div.checkbox:nth-child(18)/*soc*/ {
	width: 135px;
}
/*923 spec coll*/
#q923.checkbox-group div.checkbox:nth-child(2),
#q923.checkbox-group div.checkbox:nth-child(3) {
	width: 280px;
}
.form-group.s-ls-workflow-q.s-ls-99 .s-ls-workflow-rich-text  {display:none;}
.form-group.s-ls-workflow-q.s-ls-100,
.form-group.s-ls-workflow-q.s-ls-101,
.form-group.s-ls-workflow-q.s-ls-102,
.form-group.s-ls-workflow-q.s-ls-103,
.form-group.s-ls-workflow-q.s-ls-104,
.form-group.s-ls-workflow-q.s-ls-104,
.form-group.s-ls-workflow-q.s-ls-106,
.form-group.s-ls-workflow-q.s-ls-107,
.form-group.s-ls-workflow-q.s-ls-108,
.form-group.s-ls-workflow-q.s-ls-105 {display:none;}

#q96, #q97, #q98, #q110,
#q17, #q284, #q273, #q274, #q275,
#q392, #q393, #q394,
#q303, #q306, #q309{
	width: 10rem;
}
#q351 {
	width: 15rem;
}
#q101, #q103, #q105, #q107, #q111, 
#q272, #q278, #q280, #q282, #q18,
#q285,
#q302 
 {
	width: 15rem
}
#q55, #q93,
#q387,
#q395, #q134,
#q531, #q530 {
	width: 25rem;
}

.form-group.s-ls-workflow-q.s-ls-100,
.form-group.s-ls-workflow-q.s-ls-102,
.form-group.s-ls-workflow-q.s-ls-104,
.form-group.s-ls-workflow-q.s-ls-106 {
	margin-bottom: 0;
}

@media (min-width: 700px) { 
	.form-group.s-ls-workflow-q.s-ls-308,
	.form-group.s-ls-workflow-q.s-ls-446  {
		float:left;
		width: 48%;
	}
	.form-group.s-ls-workflow-q.s-ls-308 {
		margin-right: 1.5%;
	}
	.form-group.s-ls-workflow-q.s-ls-446  {
		margin-left: 1.5%;
	}
}
.s-ls-flab, .s-ls-workflow-lab
.form-group.s-ls-workflow-q.s-ls-111 {
	margin-bottom: 1rem;
}
.form-group.s-ls-workflow-q.s-ls-109 {
	margin-bottom: .5rem;
}

.form-group.s-ls-workflow-q.s-ls-109 div.s-ls-workflow-rich-text p {
	font-weight: bold; font-size: 1.4rem;margin-bottom:0;
}

.form-group.s-ls-workflow-q.s-ls-108 fieldset div.radio label,
 {
	font-weight:bold;font-size: 1.4rem;
}

.s-ls-workflow-q.s-ls-108 fieldset legend.control-label.s-ls-flab.s-ls-workflow-lab {
	display:none;
}
.form-group.s-ls-workflow-q.s-ls-305 fieldset div#q305.checkbox-group div.checkbox {
	width: 180px; float: left;margin: 0; padding: .7rem;display:table;
}

.week-divider {
	width: 100%;
	border-bottom: dotted 1px #999;
	clear:both;
	margin: 1.5rem 0 1rem;
}
.week-divider.monday {
	border: none;
	margin: .5rem 0 1rem;

}
.daylabel {
	font-weight: bold;
}
.heading-preheading {
	font-weight: bold;
	font-size: 14px;
	border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
	border-bottom: none;
	margin-bottom: .3rem;
}
.form-group.s-ls-workflow-q.s-ls-534 {
	margin-top: 3rem;
	margin-bottom: 0;

}
.form-group.s-ls-workflow-q.s-ls-536 legend.control-label.s-ls-flab.s-ls-workflow-lab {
	margin-bottom: 0;
	font-weight: normal;
}

.form-group.s-ls-workflow-q.s-ls-535 {
	border: solid 1px #ccc; 
	padding: 1.5rem;
	font-size: 15px;
	line-height: 160%;
}
/*this is the check set*/
#q536,
#q135 {
	font-size: 15px;
	line-height: 160%;
}
#form_59,
#form_17,
#form_14,
#form_13,
#form_44 {

	margin-top: 4rem;
}
