/* ------------------------------------------------->  */
/* HOMEPAGE AND INTERIOR PAGES STYLES -------------->  */
/* ------------------------------------------------->  */
body, html body, body.s-lg-guide-body {
  background-color: #fff; 
}

/* HEADER ------>  */
.wrapper--header {
  max-width: 1400px;
  margin: 0 auto; 
}

#header {
  background-color: #fff; }

.site-header {
  height: auto !important; 
  background: transparent;/*change*/
}

@media (min-width: 60em) {
  .site-header {
    margin: 0;
    height: 14rem !important;
    max-width: 100%; 
  
  } 
}

#block-commonpressheader img#homeimg {
  width: 22.3rem;
  height: 5.4rem;
  padding-top: 2rem;
  background-image: url(https://libapps.s3.amazonaws.com/customers/220/images/librarieslogo-1line-000colorshield-446.png);
  background-repeat: no-repeat;
  background-size: 223px 34px;
  background-position: left bottom; 
}

#block-commonpressheader img#cpimg {
  
  width: 41.2rem;
  max-width: 100%;
  height: 5rem;
  padding-top: 2rem;
  background-image: url(https://libapps.s3.amazonaws.com/customers/220/images/commonpresstitlex2.gif);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left bottom; 

}
@media (min-width: 50em) {
  #block-commonpressheader img#cpimg {
    background-size: 412px 30px;
    
  }
}

#block-commonpressheader .container {
  width: 100%;
  padding: 0 1.9rem; 
}

#block-commonpressheader .container>.navbar-header {
  overflow: hidden;
  margin: 0;
}

#block-commonpressheader .navbar-header a {
  display: block; 
}

@media (min-width: 60em) {
  #block-commonpressheader .navbar-header {
    display: inline-block; 
  } 
}

#block-commonpressheader #menubar {
  margin-top: 1rem; 
}

@media (min-width: 34em) {
  #block-commonpressheader #menubar {
    margin-top: -3.5rem; 
  } 
}

@media (min-width: 60em) {
  #block-commonpressheader #menubar {
    margin-top: 7.5rem;
    float: right; 
  } 
}

#block-commonpressheader #menubar ul {
  padding: 0;
  list-style-type: none; 
}

#block-commonpressheader #menubar li {
  display: none;
  position: relative;
  padding: 0; 
}

@media (min-width: 60em) {
  #block-commonpressheader #menubar li {
    display: block;
    float: left;
    padding-bottom: .5rem; 
  }

  #block-commonpressheader #menubar li#navprojects {
    width: 11.2633rem; 
  }

  #block-commonpressheader #menubar li#navabout {
    width: 9.365rem; 
  }
  
  #block-commonpressheader #menubar li#navblog {
    width: 8.20167rem; 
  }
  
  #block-commonpressheader #menubar li#navcontact {
    width: 10.9483rem; 
  }
  
  #block-commonpressheader #menubar li > a {
    text-align: center; 
  }
  #block-commonpressheader #menubar li > a.dropbtn {
    padding-bottom: .5rem !important; 
  } 
}


#block-commonpressheader #menubar li h3 {
  margin: 0;
  font-weight: normal; 
}
  
#block-commonpressheader #menubar li .accessibility_button {
  display: none; 
}

@media (min-width: 60em) {
  #block-commonpressheader #menubar li .accessibility_button {
    display: block;
    position: fixed;
    left: 99999px; 
  } 
}

#block-commonpressheader #menubar li .accessibility_button:focus {
  position: absolute;
  left: initial;
  height: auto;
  line-height: inherit;
  width: 10rem;
  left: -2.5rem;
  top: 0.5rem;
  background-color: #f2f2f2;
  background-image: none;
  border: 0;
  transition: none;
  outline: auto;
  font-style: italic; 
}

#block-commonpressheader #menubar li a {
  display: block;
  padding: .9rem 2.2rem;
  color: #000;
  font-family: "Arial Unicode MS","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.9rem;
  border-bottom: 1px solid #d2d5d8; 
}

@media (min-width: 60em) {
  #block-commonpressheader #menubar li a {
    display: block;
    padding: 0;
    border-bottom: none; 
  } 
}

#block-commonpressheader #menubar li a:hover {
  text-decoration: underline;
  font-weight: bold;
  background-image: linear-gradient(#eee, #fff); 
}

@media (min-width: 60em) {
  #block-commonpressheader #menubar li a:hover {
    background-image: none; 
  } 
}

#block-commonpressheader #menubar .show.hburgermenu li {
  display: block; 
}

#block-commonpressheader #menubar .show.hburgermenu li a:after {
  right: 2.2rem;
  margin-top: -2.2rem;
  content: "";
  display: block;
  height: 2.2rem;
  position: absolute;
  width: 2.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 1em;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E"); 
}

#block-commonpressheader #menubar #mobile-nav {
  background-color: transparent; 
}

#block-commonpressheader #menubar .dropdown-content {
  padding-left: 3rem; 
}

@media (min-width: 60em) {
  #block-commonpressheader #menubar .dropdown-content {
    padding: .9rem 0 1rem 1em;
    background-color: #fff;
    margin-left: -3.8rem;
    width: 17.9rem; 
  } 
}
  
@media (min-width: 60em) {
  #block-commonpressheader #menubar .dropdown-content {
    display: none;
    position: absolute;
    z-index: 10000; 
  } 
}

#block-commonpressheader #menubar .dropdown-content a {
  display: block;
  font-size: 1.5rem;
  padding: .9rem 2.2rem; 
}

@media (min-width: 60em) {
  #block-commonpressheader #menubar .dropdown-content a {
    padding: .3rem 2.2rem; 
  } 
}

#block-commonpressheader #menubar .dropdown:hover .dropdown-content,
#block-commonpressheader #menubar .dropdown:focus .dropdown-content,
#block-commonpressheader #menubar .dropdown.is-hovered .dropdown-content,
#block-commonpressheader #menubar .dropdown-content:hover,
#block-commonpressheader #menubar .dropdown-content:focus {
  display: block; 
}

/* HAMBURGER MENU ----------*/
#block-commonpressheader #menubar {
    display: block;
    height: auto;
}

#mobile-nav {
  height: 2.75em;
}

@media (min-width: 60em) {
  #mobile-nav {
      display: none;
  }
}

#menubar {
  background-color: #fff;
}

#menubar .navbar-right {
  position: unset;
}

#mobile-nav #mobile-button {
  display: block;
  width: 45px;
  height: 41.25px;
  float: right;
  background-color: #d9d9d9;
}

#mobile-nav span {
  display: block;
  position: relative;
  background: #261d19;
  height: 5px;
  transition: all .3s cubic-bezier(0.7,0,.36,.63);
  width: 30px;
  top: 17px;
  margin: 0 auto;
}

#mobile-nav .on span {
  background: transparent;
}

#mobile-nav span:before, 
#mobile-nav span:after {
  content: "";
  display: block;
  background: #261d19;
  height: 5px;
  margin-top: 0;
  position: absolute;
  width: 30px;
  transition: all .3s cubic-bezier(0.7,0,.36,.63);
}

#mobile-nav .on span:before, 
#mobile-nav .on span:after {
  top: 0;
}

#mobile-nav span:after {
  top: -8px;
}

#mobile-nav .on span:after {
  transform: rotate(-45deg);
}

#mobile-nav span:before {
  top: 8px;
}

#mobile-nav .on span:before {
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  #block-commonpressheader .navbar-header,
  #block-commonpressheader .navbar-nav,
  #block-commonpressheader .navbar-nav>li {
      float: none;
      max-width: 100%;
  }
}

@media (min-width: 768px) {
  #block-commonpressheader .navbar-right {
    float: none!important;
  }
}

/* FOOTER------>  */
.wrapper--footer {
  background: #031b51;
}
#penn {
  float: none;
  font-size: 1.6rem;
}

#upennfull {
  float: left;
  display: none;
}

@media (min-width: 60em) {
  #upennfull {
    display: block;
  }
}

#footer2 {
  min-height: 10.6rem;
  font-size: 1.32rem;
}

#footer2 .footerlinks a {
  color: #57a1c7; }

#footer2 #footersocmedia {
  float: none;
  width: 100% 
}

#footer2 #footersocmedia .footersocmedia {
  float: right;
}

.phone #footersocmedia a {
    display: inline;
    float: none;
    margin-right: 0;
}

@media (min-width: 60em) {
  #footer2 #footersocmedia {
    width: 8rem; 
    float: right;
  } 
}

@media (min-width: 60em) {
  #footer2 #footercopyright {
    margin-left: 40rem; 
  } 
}

#footersocmedia .footersocmedia>a>img {
    display: inline;
    height: 4rem;
    width: 4.4rem;
    background-size: 7rem auto;
}

@media (min-width: 60em) {
  #footersocmedia .footersocmedia>a>img {
      height: 2.7rem;
      width: 2.9rem;
      background-size: auto auto;
  }
}

#footercopyright {
  clear: both;
}

@media (min-width: 60em) {
  #footercopyright {
    clear: none;
  }
}

/* OTHERS----->  */
#s-lib-bc,
#s-lib-footer-public {
  display: none; 
}

#s-lg-guide-header-info #s-lg-guide-name {
  margin-bottom: 1rem;
  color: #000;
  font-family: "brandon-grotesque","Helvetica Neue","Arial Unicode MS",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 2.55rem;
  line-height: 120%;
}

@media (min-width: 60em) {
  #s-lg-guide-header,
  #guidepagesbutton,
  #s-lg-tabs-container,
  #s-lg-guide-tabs-title-bar,
  #s-lg-guide-main {
    width: 89rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 66.25em) {
  #s-lg-guide-header,
  #guidepagesbutton,
  #s-lg-tabs-container,
  #s-lg-guide-tabs-title-bar,
  #s-lg-guide-main {
    width: 95rem;
  }
}

@media (min-width: 75em) {
  #s-lg-guide-header,
  #guidepagesbutton,
  #s-lg-tabs-container,
  #s-lg-guide-tabs-title-bar,
  #s-lg-guide-main {
    width: 103rem;
  }
}
#guidepagesbutton {
  display:none!important;
} 
/*kill new header*/
.wrapper--nav {
  display:none;
}