#s-lg-box-19518561 {
	border-radius: 0;
	border:none;
}
@media (min-width: 733px) {
	#s-lg-box-19518561 {
		border:solid 1px #ddd;
		padding-right: 1rem;
	}
}
#s-lg-box-19518561 .s-lib-box-content {
	padding: 0 1rem 0 0;
}

#s-lg-box-19518561 .s-lib-box-title {
	display:none;
}
.borderpadder {
	width: 100%;
	text-align:center;
	min-width: 15rem;
	padding:  1rem 0 1rem 1rem;
}
@media (min-width: 413px) {
	.borderpadder {
		width: 24.5%;
	}
}
.ck_border.gs-border {
	border: 1px solid #ddd; 
	text-align: center; 
	vertical-align: top; 
	padding: 5px; 
	height: auto;
	margin: 0 auto;
	max-width: 25rem;
	
}
.ck_border.gs-border p {
	text-align: center;
}
.ck_border.gs-border a.icon-link {
	display:block;
	margin: .7rem auto .8rem;
}
.ck_border.gs-border a.icon-link img,
#s-lg-box-19518561.s-lib-box img {
    max-width: 65%;
} {
	width: 65%;
	max-width: 65%;
}
.ck_border.gs-border a.text-link {
	display:block;
	height: 5rem;
}
@media (min-width: 733px) {
	.home.broadsheet-has-slider  .primary-content {
		height: 150px;
		overflow: hidden;
		min-height: 150px;
		max-height: 150px;
		padding-bottom: 0;
		border-bottom: solid 20px #000;
		margin-top: -19px;
		margin-bottom: 50px;
		margin: -19px 0 50px;
	}
}
