.facpubtable {width: 499px; margin-left:14px;}
.bookcell {float:left; width: 150px; height: 262px; padding: 10px 14px 10px 0;}
.holdbookcover {text-align: center;}
.holdcaption {margin-top: .75em;font-size: 11px;}
.gb {color: #999;}
.holdcaption b {color: #444;}