.nav-container .site-header__logo {
    width: 16rem;
    z-index: 300;
    position: absolute;
    top: 1rem;
    left: 2rem;

} 
.nav-container .site-header__logo a {
    display: block;
    background: url("https://www.library.upenn.edu/sites/default/files/images/logos/svg/logo-2020-whitetite.svg") no-repeat center;/*white*/
    background-size: 100% auto;
    margin: 0 auto;
    width: 154px;
    height: 34px;
}

@media (min-width: 64.8rem) {
    /*648*/
    .nav-container .site-header__logo {
        width: 18rem;
    }
    .nav-container .site-header__logo a {
        width: 200px;
        height: 40px;
        margin-top: -.4rem;
    }
}

@media (min-width: 80rem) {
    /*800*/
    .nav-container .site-header__logo {
        width: 20rem;
    }
} 


@media (min-width: 65em) {
    /*1040*/
    .nav-container .site-header__logo {
        position: relative;
        float: left;
        top: 2.3rem;
        left: 0;
        width: 30rem;
    }
    
    .nav-container .site-header__logo a {
        width: 25rem;
        height: 61px;
        background-size: 100% auto;
    }
    .nav-expanded .nav-container .site-header__logo a {
        -webkit-transition: background-image 0.3s;
        -moz-transition: background-image 0.3s;
        -o-transition: background-image 0.3s;
        transition: background-image 0.3s;
        background: url("https://www.library.upenn.edu/sites/default/files/images/logos/svg/logo-2020-navytite.svg") no-repeat center;
        background-size: 100% auto;
    }
    .nav-expanded.nav-keyboard .nav-container .site-header__logo a {
        background: url("https://www.library.upenn.edu/sites/default/files/images/logos/svg/logo-2020-whitetite.svg") no-repeat center;
        background-size: 100% auto;
    }

} 
@media (min-width: 1140px) {/*1140*/
    /*1140*/
    #logo-menubarline .site-header__logo {
        width: 31rem;
    }
}
@media (min-width: 1180px) {/*1180*/
    /*1180*/
    #logo-menubarline .site-header__logo {
        width: 34rem;
    }
}

@media (min-width: 1211px) {/*1211*/
    /*1211*/
    #logo-menubarline .site-header__logo {
        width: 36rem;
    }
}
@media (min-width: 1250px) {/*1250*/
    /*1250*/
    #logo-menubarline .site-header__logo {
        width: 37rem;
    }
}
@media (min-width: 81.25em) {/*1300*/
    /*1300*/
    #logo-menubarline { 
        width: 100%;
        margin: 0 auto;
    }
    #logo-menubarline .site-header__logo {
        width: 39rem;
    }
    #logo-menubarline .site-header__logo a {
        margin: 0 3.5rem 0 auto;
    }
}
@media (min-width: 84.375em) {
    /*1350*/
    #logo-menubarline .site-header__logo {
        width: 41rem;
    }
    
}

.site-header {
    height: auto;
    background-color: #011f5b;
    /*padding-left: 5rem;*/
} 
@media (min-width: 65em) {
    .site-header {
        height: 4.5rem;
    }
}

/* revised from _navigation.scss line 248 */
/* library home page style */
@media (min-width: 1082px) {
    .nav-container .main-nav>.parent>.main-nav__sub {
        padding-left: 7rem;
    }
} 
@media (min-width: 1180px) {
    .nav-container .main-nav>.parent>.main-nav__sub {
        padding-left: 10rem;
    }
} 
@media (min-width: 1260px) {
    .nav-container .main-nav>.parent>.main-nav__sub {
        padding-left: 18rem;
    }
}
























