#block-sitewidesearchbar {
  /*$widget-item-height: 2.5em;*/
  height: 13.5rem;
  /*@include gradent-sitewide-search-bar*/
  background: #6386ac;
  background: -moz-linear-gradient(top, #6386ac 0%, #799bba 100%);
  background: -webkit-linear-gradient(top, #6386ac 0%,#799bba 100%);
  background: linear-gradient(to bottom, #6386ac 0%,#799bba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6386ac', endColorstr='#799bba',GradientType=0 );}
  /*breakpoint where two column become three columns*/
  @media (min-width: 21.875em) {
    #block-sitewidesearchbar {
      height: 9rem; }
  }
  /*breakpoint where one column become two columns*/
  /*@media (min-width: 29.5em) {
    #block-sitewidesearchbar {
        height: 5.2rem;
    }
  }*/
  @media (min-width: 29.5em) {
    #block-sitewidesearchbar {
        height: 7.2rem;
    }
  }

#block-sitewidesearchbar #searchholder {
    margin: 0 auto;
    max-width: 1400px;   
}

#block-sitewidesearchbar form#mtsearch {
    margin: 0 auto;
    width: 30rem;
    max-width: 100%;
    padding: 1rem 0;
    text-align: left; 
    display: block; 
    margin-left: 5rem;}
    /*@include breakpoint($breakpoint-small-header602-width)*/
    /*@media (min-width: 37.625em) {

    }*/
    /*breakpoint where two column become three columns*/
    @media (min-width: 21.875em) {
      #block-sitewidesearchbar form#mtsearch {
        display: block; 
        margin-left: 4.5rem; }
    }
    /*breakpoint where one column become two columns*/
    @media (min-width: 29.5em) {
      #block-sitewidesearchbar form#mtsearch {
        width: 30rem;
        padding: 1.8rem 0;
        display: inline-block;
        /*Dirty IE Hack*/
        zoom: 1;
        *display: inline; 
        margin-left: 0; }
    }
    @media (min-width: 40.5em) {
      #block-sitewidesearchbar form#mtsearch {
        width: 45rem; }
    }
    @media (min-width: 43.75em) {
      #block-sitewidesearchbar form#mtsearch {
        width: 50rem; }
    }
    @media (min-width: 53em) {
      #block-sitewidesearchbar form#mtsearch {
        width: 61rem; }
    }

#block-sitewidesearchbar .biginput, 
#block-sitewidesearchbar .tabformbutton {
      display: block;
      height: 3rem;
      font-size: 16px; }
      /*breakpoint where two column become three columns*/
      @media (min-width: 21.875em) {
        #block-sitewidesearchbar .biginput, 
        #block-sitewidesearchbar .tabformbutton {
          /*@include inline-block*/
          display: inline-block;
          vertical-align: top;
          *vertical-align: top;
          *zoom: 1;
          margin-left: 4.5rem; }
      }
      /*@media (min-width: 25em) {
        #block-sitewidesearchbar .biginput, #block-sitewidesearchbar .tabformbutton {
          height: 3rem;
        }
      }*/
      @media (min-width: 40.5em) {
      /*@include breakpoint($breakpoint-small-header602-width)*/
        #block-sitewidesearchbar .biginput, #block-sitewidesearchbar .tabformbutton {
          height: 3.8rem;
        }
      }

#block-sitewidesearchbar .tabformbutton {
      font-size: 0;
      /*text-indent: -99999px;*/
      /*background-color: transparent;
      background-image: url(/sites/default/files/images/common/svg/mag-w1pt25.svg);
      background-repeat:no-repeat;
      background-position: 1.5rem center;
      background-size: 24px 24px;*/
      width: 10rem;
      border: none !important;
      position: relative;
      padding: 0;
      margin-top: 1rem;

      /*CORNERS*/
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; 
      /*GRADIENT*/
      background: #ffffff;
      background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 55%, #f1f7f7 69%, #dedede 97%, #ffffff 100%);
      background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 55%,#f1f7f7 69%,#dedede 97%,#ffffff 100%);
      background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 55%,#f1f7f7 69%,#dedede 97%,#ffffff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
      /*SHADOW*/
      -webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow:     0 1px 1px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
      /*TEXT*/
      font-family: Open Sans;
      font-size: 1.3rem; } 
      @media(min-width: 19.375em) {
      /*@include breakpoint($breakpoint-small-header602-width)*/
        #block-sitewidesearchbar .tabformbutton {
        }
      }
      /*breakpoint where two column become three columns*/
      @media (min-width: 21.875em) {
        #block-sitewidesearchbar .tabformbutton {
          margin-left: 1.1rem; 
          margin-top: 0; }
      }
      @media(min-width: 37.625em) {
        /*@include breakpoint($breakpoint-small-header602-width)*/
        #block-sitewidesearchbar .tabformbutton {
          background-position: 2rem center;
        }
      }
      /*@media (min-width: 40.5em) {
      @include breakpoint($breakpoint-med-small-width)
      #block-sitewidesearchbar .tabformbutton {
        width: 10rem;
        font-size: 1.3rem;} }*/
      @media (min-width: 40.5em) {
      /*@include breakpoint($breakpoint-med-small-width)*/
      #block-sitewidesearchbar .tabformbutton {
        width: 13.5rem;
        font-size: 1.6rem;
        margin-left: 1.3rem; } }  

#block-sitewidesearchbar .biginput {
      /*@include disappearing-placeholder*/
      width: 17.5rem; 
      margin-left: 0rem; 
      border: 1px solid #afafaf;
      background: #fff;
      color: #000;
      box-shadow: rgba(255,255,255,.4) 0 0 0, inset rgba(0,0,0,.7) 0 0 0;
      padding: 8px;
      max-width: 100%; }

      /*@include breakpoint($breakpoint-small500-width)*/
      @media (min-width: 31.25em) {
        #block-sitewidesearchbar .biginput {

        }
      }
      /*@include breakpoint($breakpoint-small2collanding-width)*/
      @media (min-width: 34em) {
        #block-sitewidesearchbar .biginput {

        }
      }
      /*@include breakpoint($breakpoint-small2collanding-width)*/
      @media (min-width: 37.625em) {
        #block-sitewidesearchbar .biginput {

        }
      }
      @media (min-width: 40.5em) {
        #block-sitewidesearchbar .biginput {
          width: 26.5rem;
          margin-left: 1.5rem; 
        }
      } 
      /*@include breakpoint($breakpoint-med-small700-width)*/
      @media (min-width: 43.75em) {
        #block-sitewidesearchbar .biginput {
          width: 28rem;
          margin-left: 2rem; 
        }
      }
      /*@include breakpoint($breakpoint-med-small750-width)*/
      @media (min-width: 46.875em) {
        #block-sitewidesearchbar .biginput {
          width: 28rem;
          margin-left: 2rem; 
        }
      }
      @media (min-width: 50em) {
        #block-sitewidesearchbar .biginput {
          width: 30rem;
          margin-left: 4rem; 
        }
      }

#block-sitewidesearchbar .guides__logo {
    width: 16rem;
    z-index: 100;
    position: relative;
    top: 0.5rem;
    margin: auto;
    margin-left: 1rem;
} @media (min-width: 29.5em) {
    #block-sitewidesearchbar .guides__logo {
      top: 1.3rem;
      left: 1rem;
      float: left;
      margin-left: 0;
    }
} @media (min-width: 40.5em) {
    /*@include breakpoint($breakpoint-med-small-width)*/
    #block-sitewidesearchbar .guides__logo {
        height: 3.8rem;
        top: 1.7rem;
        left: 1.5rem;
        width: 18rem;
    }
} @media (min-width: 50em) {
    /*@include breakpoint($breakpoint-medium-width)*/
    #block-sitewidesearchbar .guides__logo {
        width: 20rem;
    }
} /*hamburger break*/
  @media (min-width: 65em) {
    /*@include breakpoint($breakpoint-navigation)*/
    #block-sitewidesearchbar .guides__logo {
        left: 3.6rem;
    }
} @media (min-width: 67.625em) {
    /*@include breakpoint($breakpoint-large1082-width)*/
    #block-sitewidesearchbar .guides__logo {
        width: 23rem;
    }
} @media (min-width: 73.75em) {
    /*@include breakpoint($breakpoint-largeaverageplus-width)*/
    #block-sitewidesearchbar .guides__logo {
        width: 28rem;
    }
} @media (min-width: 75em) {
    /*@include breakpoint($breakpoint-largeeventsslider-width)*/
    #block-sitewidesearchbar .guides__logo { 
        width: 32rem;
    }
} @media (min-width: 81.25em) {
    /*@include breakpoint($breakpoint-largelargeplus-width)*/
    #block-sitewidesearchbar .guides__logo { 
        width: 40rem;
    }
}


#block-sitewidesearchbar .guides__logo a {
    display: block;
    /*@include imgRetina('/sites/default/files/images/logos/lib-logo-oneline', 'png') 
        background: url($image + '.' + $extension) $repeat $position*/
    background: url("https://libapps.s3.amazonaws.com/customers/220/images/guides2@2x.png") no-repeat center;
    background-size: 100% auto;
    margin: 0 auto;
    width: 80px;
    height: 38px; }
    @media (min-width: 40.5em) {
    /*@include breakpoint($breakpoint-med-small-width)*/
      #block-sitewidesearchbar .guides__logo a {
        width: 100px; } } 
    /*@media (min-width: 50em) {
    @include breakpoint($breakpoint-medium-width)
      #block-sitewidesearchbar .guides__logo a {
        width: 100px; } } */
    @media (min-width: 65em) {
    /*@include breakpoint($breakpoint-navigation)*/
      #block-sitewidesearchbar .guides__logo a {
       /* @include imgRetina('/sites/default/files/images/logos/lib-logo-innav-white', 'png')
        background: url("https://libapps.s3.amazonaws.com/customers/220/images/guides@2x.png") no-repeat center;*/
        width: 120px;
        height: 38px; } }


























