
div.contact-list__label:nth-child(1),
div.contact-list__content:nth-child(2) {
	display: none;
}
div.contact-list__label:nth-child(5),
div.contact-list__label:nth-child(7) {
	display: none;
}
@media (min-width: 1024px) {
	div.contact-list__label:nth-child(5),
	div.contact-list__label:nth-child(7) {
		display: block;
	}
}
div.contact-list__content:nth-child(4) > p:nth-child(1) {
	margin-bottom:  0;
}
.hour__set::before {
    content: "Atwood: \00a0";
	display: block;
	margin-bottom: 2rem;
	display: inline;
}
div.contact-list__content:nth-child(4)::after {
  content: "du Pont: M - F: 8am - 6pm";
  display: block;
  margin-bottom: 2rem;
}
div.contact-list__content:nth-child(4) > p:nth-child(1) > span:nth-child(2) {display: none;}
#content div.layout.section-margin {
	margin-top:  0;
}
#content div.layout.section-margin div.contain.layout__flex.layout__flex--justify-between {
	background: #e2ecf4;
	padding:  3rem 3rem 0;
}
ul.no-bullets.margin-top-110, 
.wysiwyg ul.no-bullets.margin-top-110,
.wysiwyg .margin-top-110 {
	margin-top:  11rem;
}
#content div.layout.section-margin div.contain.layout__flex.layout__flex--justify-between div.layout__column section.bg-color.bg-light-blue div.clearfix.wysiwyg-container.contain div.wysiwyg.contain.clearfix ul.no-bullets li,
.wysiwyg ul.no-bullets li {
	padding-left:  0;
}



/*v2 key dbs key ejs*/
section.content-aside:nth-child(7) {}

section.content-aside:nth-child(7) > div:nth-child(1) {
	
    border: 7px solid #DBE9F5;
	padding:  5rem 5rem;
}
section.content-aside:nth-child(7) {
	margin-top:  0;
}


@media (min-width: 1136px) {
	/*toggle*/
	div.js-wikit-accordion-group:nth-child(2) > div:nth-child(1),
	div.js-wikit-accordion-group:nth-child(1) > div:nth-child(1) {
		text-align:  left;
	}
	section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(1) {
		padding-right:  5%;
	}
	section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > section:nth-child(1) > div:nth-child(1) > div:nth-child(1) > header:nth-child(1) > h2:nth-child(1):after {
			  content: '';
			  display: block;
			  position: absolute;
			  bottom: -21px;
			  background: #4579B9;
			  opacity: 1;
			  width: 28px;
			  height: 6px;
			  left: 34% !important;
	}
	section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > section:nth-child(1) h2.section-header__title {
		margin-left:  -24rem;
	}
}
@media (min-width: 1250px) {
	section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > section:nth-child(1) > div:nth-child(1) > div:nth-child(1) > header:nth-child(1) > h2:nth-child(1):after {
			  left: 37% !important;
	}
	section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > section:nth-child(1) h2.section-header__title {
		margin-left:  -29rem;
	}
}
@media (min-width: 1300px) {
	
	section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > section:nth-child(1) h2.section-header__title {
		margin-left:  -34rem;
	}
}
@media (min-width: 1375px) {
	section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > section:nth-child(1) > div:nth-child(1) > div:nth-child(1) > header:nth-child(1) > h2:nth-child(1):after {
			  left: 39% !important;
	}
	section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > section:nth-child(1) h2.section-header__title {
		margin-left:  -37rem;
	}
}
@media (min-width: 1425px) {
	
	section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > section:nth-child(1) h2.section-header__title {
		margin-left:  -41rem;
	}
}
/*3rd col*/
section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(2) > h2:nth-child(1) {
  font-size: 4.5rem;
  font-family: "PerpetuaMT",serif;
  text-transform:  none;
  margin-top:  0;
  margin-bottom:  4.5rem;
}
section.content-aside:nth-child(7) > div:nth-child(1) > div:nth-child(2) > article:nth-child(2) > div.card__content:nth-child(1)  {
  border: none;
}
.wysiwyg ul.ej {
	margin-bottom:  0;
}
.wysiwyg ul.ej li {
	font-size:  1.5rem;
}
.wysiwyg ul.ej li.vcna br {
	display: none;
}
/*end v2 key dbs key ejs*/

/*key tools*/
@media (min-width: 768px) {
	section.accordion-columns:nth-child(6) > div:nth-child(1) > header:nth-child(1) > h2.section-header__title {
	  font-size: 4.4rem;
	}
}

/*services|help with*/
section.accordion-columns:nth-child(8) {
	/*background: #e2ecf4;*/
	padding:  5rem 5rem;
	background: linear-gradient(108.99deg,#F1F9FF 5.82%,#FEEFDF 100%);
}
div.accordion-columns__content:nth-child(2) > div:nth-child(1) > h2.accordion-columns__title,
div.accordion-columns__content:nth-child(2) > div:nth-child(2) > h2.accordion-columns__title {
	
	font-size: 3.4rem;
}
@media (min-width: 768px) {
	div.accordion-columns__content:nth-child(2) > div:nth-child(1) > h2.accordion-columns__title {
		  font-size: 4.4rem;
	}
	

}

/*end services\helpwith*/

/*#content section.section-padding.bg-color.bg-gradient div.contain div.js-wikit-tabbed.lib-search section#tabpanel-12904.wikit-tab article div.gotopubmed {
   margin-bottom:  3rem;
}*/

/*accessibility section*/

#content > div.bg-color {
	margin-bottom:  0;
}