.exh-event-home  .layout__region--first {
	display: none !important;
}
.exh-event-home  .layout--threecol-25-50-25 > .layout__region--second,
.exh-event-home  .layout--threecol-25-50-25 > .layout__region--third {
	flex: 0 1 100% !important;
}
.book-menu-tabs {display: none;}